{% extends "base/master.twig" %}

{% set html_class = ['page'] %}
{% set meta_title = 'Errore' %}
{% set meta_desc = '' %}
{% set meta_keywd = '' %}
{% set title = 'Errore' %}

{% block main %}

<p class="lead text-danger">Opps.. pagina non trovata.</p>

<p class="text-danger">Ci dispiace, ma la pagina che stavi cercando di visualizzare non esiste <span frown>:(</span></p>
      
{% endblock main %}
