{% extends "base/master.twig" %}

{% set html_class = ['page'] %}
{% set meta_title = 'Errore' %}
{% set meta_desc = '' %}
{% set meta_keywd = '' %}
{% set title = 'Errore' %}

{% block main %}

<p class="lead text-danger">Si è verificato un problema tecnico.</p>

<p class="text-danger">Ci scusiamo per l'inconveniente. Il nostro personale sta lavorando per risolvere il problema.</p>
            
{% endblock main %}
