{% extends "base/master.twig" %}

{% set html_class = ['page'] %}
{% set meta_title = 'Tasks Manager' %}
{% set meta_desc = '' %}
{% set meta_keywd = '' %}
{% set title = 'Ciao!' %}

{% block main %}
<p>Seleziona il Task da eseguire dal menù seguendo la sequenza.</p>
{% endblock main %}
